@import 'src/styles/theme';

.tag-list {
  @extend %flex-row;
  flex-wrap: wrap;
  border-radius: 10px;
  justify-content: space-between;

  &::after {
    content: '';
    flex: auto; /* 或者flex: 1 */
  }

  &-item {
    @extend %flex;
    padding: 5px 16px;
    border-radius: 10px;
    border: $border-default;
    margin: 8px;
    color: $text-color-light;

    &--disabled {
      background-color: $disabled-color;
      color: $white;
    }

    &--selected {
      background-color: $primary-color;
      color: $white;
    }
  }
}
