@import '../../styles/theme';

.login-page {
  @extend %page;
  background-color: $primary-color;
  height: 100vh;
  padding: 36px;
  box-sizing: border-box;

  &-header {
    @extend %flex-row;
    flex: 3;
    align-items: flex-end;
    padding-bottom: 80px;

    &-txt {
      @extend %flex-column;
      flex: 1;
      font-size: 80px;
      font-family: $b181black;
      color: $white;
      font-weight: bold;
      line-height: 100px;
    }
  }

  &-body {
    @extend %flex-column;
    flex: 7;

    &-type {
      margin-bottom: 150px;
    }

    .login-submit-button {
      background-color: darken($primary-color, 20%);
      border-radius: 10px;
      margin-bottom: 40px;
      box-shadow: 0 15px 10px 1px rgba(40, 170, 255, 0.1);
    }
  }
}
