@import '../../styles/theme';

.article-page {
  @extend %page;
  background-color: $white;

  &-body {
    padding: 36px;
    line-height: 52px;

    .title {
      font-weight: 400;
    }

    .user-info {
      margin: 5px 0px 10px 0px;
      display: flex;
      flex-direction: row;
      font-size: 26px;
      color: $text-color-lighter;

      &-time {
        padding-left: 20px;
      }
    }

    .content {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-txt {
        font-size: 24px;
      }

      &-img {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.article-group-page {
  @extend %page;

  &-body {
    padding: 36px 0px;

    home-section-bar {
      width: 100%;
    }

    .section-bar {
      padding: 0px 36px 10px 36px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.article-list-container {
  padding-left: 36px;
}

.fab-button {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  right: -28px;
  top: 50%;
  z-index: 9999;
  opacity: 0.9;
  .at-button {
    background-color: #f55959;
    padding: 0px 30px 0px 20px;
    border-color: #f55959;
  }
}
