{
  "extends": ["taro/react"],
  "rules": {
    "import/first": "off",
    "jsx-quotes": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".jsx",".tsx"] }],
    "react/sort-comp": [0],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "parser": "babel-eslint"
}
