@import '../../../styles/theme';

.org-group {
  padding: 10px 20px;
  background-color: lighten($primary-color, 10%);
  border-radius: 10px;
  box-shadow: 0 15px 10px 1px $shadow-color;

  &-title {
    padding: 5px;
    color: $text-color-light;
  }

  &-body {
    @extend %flex-row;
    justify-content: space-between;
    color: $white;

    &-left {
      @extend %flex-1;
      font-size: 36px;
    }

    &-right {
      font-size: 24px;
      text-align: center;
    }
  }
}

.survey-answer {
  background-color: $white;
  padding: 10px 20px;
  border-radius: 10px;
  color: $text-color-light;
  box-shadow: 0 15px 10px 1px $shadow-color;

  &-title {
    padding: 10px;
    @extend %flex-row;
    justify-content: space-between;

    &-time {
      font-size: 28px;
    }
  }
}

.survey {
  background-color: $white;
  //background-color: lighten($primary-color, 10%);
  padding: 10px 20px;
  border-radius: 10px;
  color: $text-color-light;
  box-shadow: 0 15px 10px 1px $shadow-color;

  &-title {
    padding: 10px;
    @extend %flex-row;
    justify-content: space-between;

    &-org {
      font-size: 30px;
      @extend %flex-1;
    }

    &-time {
      font-size: 28px;
    }
  }

  &-tips {
    text-align: center;
    color: $color-orange;
    padding: 20px;
  }

  &-body {
    width: 100%;
    @extend %flex-row;
    justify-content: space-around;
    color: green;
    font-size: 22px;

    &-item {
      @extend %flex-center;
      flex-direction: column;
      color: $text-color-light;

      &-icon {
        padding-bottom: 10px;
      }

      &-txt {
        color: $text-color-light;
      }
    }

    &-item.risk {
      color: $color-orange !important;
    }

    &-item.grey {
      color: $text-color-light !important;
    }

    &-item.green {
      color: lightgreen !important;
    }
  }
}
