@import '../../styles/theme';

.image-placeholder {
  background: $image-bg;
  color: $white;
  @extend %flex-center;
}

.ele-message-swiper {
  @extend %flex-row;
  justify-content: center;
  padding: 10px 40px 10px 40px;

  &-preicon {
    color: $color-orange;
  }

  &-messages {
    height: 50px;
    width: 100%;
    margin-left: 20px;

    &-item {
      @extend %flex;
      align-items: center;

      &-txt {
        color: $text-color-light;
        font-size: 30px;
      }
    }
  }
  .ele-image {
    margin-right: 10px;
    .image-placeholder .icon-image {
      font-size: 68px;
    }
  }
}

.ele-navigation-box-bar {
  @extend %flex-1;
  flex-flow: row wrap;

  &-item {
    @extend %flex-center;
    flex-direction: column;

    &-txt {
      font-size: 26px;
      line-height: 40px;
      text-align: center;
      color: $text-color-lighter;
    }
  }
}

.ele-more-actions {
  @extend %flex-center;

  &-txt {
    font-size: 30px;
    margin-right: 40px;
  }

  //.&-image {
  //  width: 20px;
  //  height: 20px;
  //}
}

.ele-fab {
  position: fixed;
  right: 50px;
  bottom: 160px;
  z-index: 99999;
  opacity: 0.8;
}

.ele-store-location {
  padding: 0 20px;
  background-color: $white;

  .header {
    @extend %flex;
    padding: 20px 0;

    &-left {
      border-radius: 50%;
      width: 120px;
      height: 120px;
    }

    &-right {
      width: 100%;
      overflow: hidden;
      padding-left: 20px;

      &-name {
        font-size: 28px;
        margin-left: 10px;
        height: 48px;
        line-height: 48px;
        color: $black;
        padding: 12px 0;
        @include text-ellipsis;
      }

      &-summary {
        font-size: 28px;
        color: $text-color-lighter;
        height: 36px;
        line-height: 36px;
        @include text-ellipsis;
      }

      &-tags {
        @extend %flex;

        &-item {
          margin-left: 10px;
        }
      }
    }
  }

  .info-item {
    @extend %flex;
    align-items: center;
    line-height: 80px;
    border-top: 1px solid rgb(250, 240, 250);

    &-txt {
      margin-left: 20px;
      font-size: 30px;
      color: $text-color;
      @include text-ellipsis;
    }
  }
}

.ele-button {
  .at-button__text {
    align-self: center;
  }
}

.ele-carousel {
  &-image {
    width: 100%;
  }

  &-video {
    width: 100%;
  }
}

.submit-button {
  height: 80px;
  width: 450px;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 600;
  @extend %flex;
}

.ele-card {
  @extend %flex-column;
  position: relative;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 10px 19px 1px rgba(0, 0, 0, 0.08);
  overflow: hidden;

  &-status-flag {
    width: 0;
    height: 0;
    border-top: 120px solid #d2ab66;
    border-left: 120px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
  }

  &-status-txt {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 30px;
    color: $white;
    font-weight: 600;
    @extend %flex;
    align-items: flex-end;
    height: 70px;
  }

  &-header {
    @extend %flex-row;
    padding: 20px;

    &-image {
      width: 200px;
      height: 215px;
    }

    &_content {
      @extend %flex-1;
      flex-direction: column;
      padding: 30px;

      &-title {
        font-size: 28px;
        font-weight: 600;
      }

      &-brief {
        @extend %flex-1;
        padding: 20px 0;
        height: 53px;
        line-height: 30px;
        font-size: 26px;
        font-weight: 400;
        color: #74767a;
        @include lamp-clamp(2);
      }

      &-time {
        font-size: 22px;
        color: #74767a;
      }
    }
  }

  &-footer {
    border-top: 2px solid #f3f5f7;
    padding: 20px 0;
  }
}

.ele-card.small {
  .ele-card-header-image {
    width: 150px;
    height: 150px;
  }
}

.ele-action-list {
  @extend %flex-row;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;

  &-btn {
    font-size: 28px;
    font-weight: 600;
    width: 150px;

    &-image {
      width: 20px;
      height: 24px;
      padding-right: 10px;
    }
  }
}

.ele-action-list.right {
  justify-content: flex-end;

  .ele-action-list-btn {
    margin-left: 20px;
  }
}

.store-location-big {
  margin: 20px 0;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 10px 19px 1px rgba(0, 0, 0, 0.08);

  &-face-image {
    width: 100%;
    height: 400px;
    @extend %flex;
    justify-content: center;
  }

  &-title {
    padding: 20px;
    align-items: center;
    @extend %flex-row;

    &-logo {
      padding-right: 20px;
      height: 40px;
      width: 40px;
    }
  }

  &-content {
    padding: 20px 40px 20px 20px;
    @extend %flex-row;
    justify-content: center;
    font-size: 26px;
    width: 100%;

    &-address {
      padding: 0 15px;
      @extend %flex-1;
    }

    &-icon {
      color: $primary-color;
    }
  }
}
