@import 'src/styles/theme';

.txt-table {
  @extend %flex-column;
  font-size: 28px;
  background-color: transparent;
  color: $text-color-lighter;

  .info-row {
    @extend %flex-row;
    padding: 5px 10px;
    align-items: center;

    &-cell {
      @extend %flex-1;
      flex-direction: row;
      word-break: break-all;
      align-items: center;

      &-title {
        font-size: 28px;
        vertical-align: center;
        width: 5rem;
      }

      &-value {
        @extend %flex-1;
        font-size: 28px;
        vertical-align: center;
        padding-left: 20px;
        color: $text-color-light;
      }

      &-1lines {
        @include lamp-clamp(1);
      }

      &-2lines {
        @include lamp-clamp(2);
      }

      &-3lines {
        @include lamp-clamp(3);
      }

      &-4lines {
        @include lamp-clamp(4);
      }
    }
    &-cell.small {
      .info-row-cell-title {
        font-size: 24px;
      }
    }
  }
}
