@import 'src/styles/theme';

.image-on-left {
  @extend %flex-row;
  justify-content: flex-start;

  font-size: 32px;
  background-color: $white;
  color: $text-color;

  margin-bottom: 20px;
  padding: 20px 10px 20px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 19px 1px $shadow-color;

  &-flag {
    @extend %flex-center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $level-default;

    &-image {
      width: 100px;
      height: 100px;
    }

    &-txt {
      color: $white;
      font-size: 34px;
      font-weight: 600;
    }
  }

  &-info {
    @extend %flex-column;
    padding: 10px 30px;

    &-title {
      padding-bottom: 10px;
      @include lamp-clamp(1);
    }

    &-brief {
      color: $text-color-light;
      font-size: 26px;
      @include lamp-clamp(1);
    }
  }
}

.image-on-left_circle {
  .image-on-left-flag-image {
    border-radius: 50%;
  }
}

.image-on-left_large {
  .image-on-left-flag {
    width: 180px;
    height: 180px;
  }

  .image-on-left-flag-image {
    width: 180px;
    height: 180px;
  }

  .image-on-left-info-brief {
    @include lamp-clamp(3);
  }
}

.image-on-left_no-bg {
  .image-on-left-flag {
    background-color: transparent;
  }
}

.image-on-left_bordered {
  .image-on-left-flag-image {
    border: 4px solid darken($primary-color, 10%);
    box-shadow: 0 0 20px #fff;
  }
}

.image-on-left_default {
  .image-on-left-flag {
    background-color: $level-default;
  }
}

.image-on-left_normal {
  .image-on-left-flag {
    background-color: $level-normal;
  }
}

.image-on-left_primary {
  .image-on-left-flag {
    background-color: $level-primary;
  }
}

.image-on-left_warn {
  .image-on-left-flag {
    background-color: $level-warn;
  }
}

.image-on-left_danger {
  .image-on-left-flag {
    background-color: $level-danger;
  }
}
