@import 'src/styles/theme';

.object-picker {
  &-popup-bottom {
    height: 10vh;
  }

  .large-float-layout {
    z-index: 999999999;

    .layout-body,
    .layout-body__content,
    .at-float-layout__container {
      padding-bottom: 80px;
    }
  }

  .ele-action-list-item {
    &:first-child {
      border: none;
      width: 40%;
    }

    &:last-child {
      width: 60%;
      border-left: none;
    }
  }
}
