@import 'src/styles/theme';

.object-picker {
  @extend %page;
  background-color: white;

  &-header {
    background-color: white;
  }

  &-body {
    margin-top: 18px;
  }

  &-footer {
    @extend %flex-row;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;

    &-tips {
      @extend %flex-center;
      flex: 1;
      flex-direction: column;

      &-brief {
        font-size: 20px;
      }
    }

    &-btn {
      @extend %flex-center;
      flex: 1;
      background-color: #0e6fe2;
      color: #fff;
    }
  }
}
