@import './theme';
//@font-face {
//  font-family: 'Brother-1816-Black';
//  src: url('./Brother-1816-Black.woff') format('ttf');
//}
@font-face {
  font-family: 'Brother-1816-Black';
  src: url('https://doublechain-public.oss-cn-hangzhou.aliyuncs.com/yourong/assets/Brother-1816-Black.woff')
  format('woff');
}

.b181black {
  font-family: $b181black;
  font-style: normal;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
