@font-face {
  font-family: 'iconfont';
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAaQAAsAAAAADGQAAAZEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDXgqLMIkSATYCJAMcCxAABCAFhG0HYRtrClGUT1KJ7AtsG/Y0g9sWHdjxxmPuKAQ4GLSij70BXoCP87vS68kCxMP3a6/nvvcWspsCgup8X9SAML6qE1VQja6KkBUKxpMvq6DQnZ0Yl48GJshJzCIG11ef6m59bUty2telWbVmE2AZFZURJijxCRXC1l0f0FwIlX4W9l96Gv497aUZg2KguhPbw4S0E5CO1AH4AgUyOWieZ5xzHknzIAwSeP//vaoZCxOweS0Wl3cz56J/AtRTmkAF2puKW4PVVqwgWhPx6qUvdETmPPk0gc5mQsATu8dnlFYYQ6DjuW0qSmecSo0gtJaaubKISZDQpreUL3gX/H4sOBRCJFVmzjz9cEen9Wma+ZLJ/yTdeTSgkvNjch0ZBwEU4hUbnBCL9AcDY8f9zbjzyGKtpJ42fRJg8vxfhoHsrFkbFlvNJFl9hv94FVEj4zjYl0s10xwZiemTMjLTD5T1pkewC5im4FfcYxWGVKDBFYuxGSC+kw4DYx3ta4+k0itSwXFbGWgCE8zXrZNDqcANYBjWv4+AQGwRBAP0EMTTgd5lUfEqSJ13etuGFZ29mQB85OTqOWjNN75ck+FvXo/n3LntvH3TPXDz64t37ctF+AxNdU3rrv9oB687J1bO3t2Pbj5w1/T0NUne+fNx6pqa+8WJ2kYxx5q5NkmCN1w8CMDUTQv19G063H3HjhYPkgNiSNGKHKV1VZ3Wv67oy7XjBNr5Be61P1C/FN9Xu+VX07FGvBZaLMm1Xxw4DDXp7B9iF3H9SJeZFSm+xtVttPl1WRgBba0g2Mnx3VcTh0Z9cS0AEzUIclIHQdv13tq1yyGOqZPQqVtJcutrnfm8BFRfj7bb10mrZiHBqauX1K1fH6u7xqsPTxJVSOh8QN+2FYuDvmUvcuGpqLzZVZvF9P7Bd+74bt/23rzpvnXLE2IaQdAXrAGt11TFgtMy1F4DHNXxftT1y9BpnzRoGFBD+ob26R52zqKsEgbf/bIIlLbziDokLZo9HQhHey7XW92X+Bu7++qr5WpBSSGrsPjFpXwBqdRWitqc7OyTM01kyZnIsRJN5W7YbmwcYSZ4wq/LASutQ6KVe0d39EP3H1yTtYQdtpu9vrYCD66tdxc4KnaoqjVWBR97h1/nIpVtBHUVt0Fx8Ja7xZm3vimoTqGEF5QjDp4J/VnzOrzr2dK+ueneWo9fo7E2s2i1uNk5Hp3n8vEN6iqSl1FMReaHlZYBG1QgUSQOgDszOu5+ki4y9L9GC7rm/9aR/ZBtT1A/yQGwp0xY2EVgaRULZuQP6DI4ccz/gSxUkAT1NIBlWvqSZRAZ1Nax3OX9FX47j8NQWOazz2FQjHVTFMjnD6ryBRQFcbZLJsFGmGZmzA4LYYqomh0f5+ccRYEknlhEo0ecC144EKwOEzMzVcSUYHc0DCE27/vm87wUbfPqSZDnKTNRZtcGhKmsiqqGiaYjioISrqRGqi/ptTfBnFAcL8f9YIgStW7bPCkZLymuznOMmElqDiZTuroo0CVrhFbfZbBAGkUHk2p95ut8aQjScf7qhnNnmqHh8WifeyDbMM8IgOZBgC96AGMeo/R7ciHwDVJ7LKAD8MsxMReULrjFi0oXm9FRfFnZfIulMpw8+N9a/m8qy32rOaH3B6wQhvv5E9YIRJ9ywpqirzlg7PA+uQ/fyUFEHlFGVPgAhfy3HeX/07+fW9r6mu5/gRt+fPSj5NAX16/USrRW/beMJUspa43RNxsrh5oSdd92jQ9yvqd2nRVloOhyGznzqtaqv695VQJJYxNkrZ30wj4Ild4Iaq3D0DnAfn1vhaaYKGPYb19BWOoKksU+QbbUE72wf6Gy2j/UlgYMnYuRv2NvdwRnt3pQA+icnHJBk8CwPYNs2HkCc+ipXloTCC/Q69sZloml+coeAvQkzmmNzHp7YHC2Jz7b1PPgecL1njjQBuX8YBA2JJIs90rllPiUdVwPKAOgY0lTrEAjAoa3/kC28PMnwDTkUXo1C1fyF6Cnz949kxGTtqDvGYNWC4+lv2XEVNemvIFlJ+3Cx2zkB88qClbnD3OAZqAs3yMfapDQsmxbY3n/Zv9x3gEdc3ETKXKUqKKOJlpjV7/pcWRjnI1KfUv1ULIfdHuQUGFYkoO9xrgvPRAB')
    format('woff2');
}

.iconfont {
  font-family: 'iconfont', serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-icon_view:before {
  content: '\e667';
}

.iconfont-icon_share:before {
  content: '\e600';
}

.iconfont-icon_edit:before {
  content: '\e64e';
}

.iconfont-app-2:before {
  content: '\e6a0';
}

.iconfont-app:before {
  content: '\e7cc';
}

.iconfont-more:before {
  content: '\e665';
}
