@import './mixins.scss';
// Custom Theme 通过https://nervjs.github.io/taro-ui-theme-preview/ 处理
$color-brand: #28aaff;
$color-brand-light: #5ebfff;
$color-brand-dark: #2088cc;
// end Custom Theme

$primary-color: $color-brand;

$border-color: #f4f6f8;
$border-radius: 4px;
$border-color-light-blue: $color-brand-light;
$disabled-color: #ddd;

$shadow-color: rgba(40, 170, 255, 0.1);

$black: #000;
$white: #fff;

$text-color: #333;
$text-color-light: #56585c;
$text-color-lighter: #999;

$image-bg: #f4f4f4;
$price-text: #f23030;

$color-orange: #ee620a;

$color-page-bg: #f4f6f8;

$b181black: Brother-1816-Black, -apple-system, system-ui !important;

%page {
  display: flex;
  flex-direction: column;
  background-color: $color-page-bg;
  min-height: 100vh;
}

%flex {
  display: flex;
  box-sizing: border-box;
}

%flex-1 {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}

%flex-row {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
