@import './mixins.scss';
@import 'node_modules/taro-ui/dist/style/mixins/libs/hairline';
// Custom Theme 通过https://nervjs.github.io/taro-ui-theme-preview/ 处理
$color-brand: #28aaff;
$color-brand-light: #5ebfff;
$color-brand-dark: #2088cc;
// end Custom Theme

$primary-color: $color-brand;

$border-color: #ccc;
$border-radius: 4px;
$border-color-light-blue: $color-brand-light;
$disabled-color: #ddd;

$shadow-color: rgba(40, 170, 255, 0.1);
//$shadow-color: $primary-color;

$black: #000;
$white: #fff;

$text-color: #333;
$text-color-light: #56585c;
$text-color-lighter: #999;

$level-default: $text-color-light;
$level-normal: #07c160;
$level-primary: $primary-color;
$level-warn: #ffc300;
$level-danger: #fa5151;

$image-bg: #f4f4f4;

$orange-color: #ee620a;
$red-color: #f23030;

$color-page-bg: #f0f2f5;

$under-line-color: #d6e4ee;

@font-face {
  font-family: 'Brother-1816-Black';
  src: url('https://doublechain.oss-cn-hangzhou.aliyuncs.com/nice-router/Brother-1816-Black.woff') format('woff');
}

$b181black: Brother-1816-Black, -apple-system, system-ui !important;
.b181black {
  font-family: $b181black;
  font-style: normal;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%page {
  display: flex;
  flex-direction: column;
  background-color: $color-page-bg;
  min-height: 100vh;
  color: $text-color;
}

%flex {
  display: flex;
  box-sizing: border-box;
}

%flex-1 {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}

%flex-row {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
