@import 'src/styles/theme';

.home-page {
  @extend %page;

  .my-test {
    .at-avatar__img {
      width: 50px;
    }
  }

  &-action-floor {
    margin: 20px 10px;
  }

  .section-bar {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: -10px;
  }
}
