@import '../../styles/theme';

.card-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_top-background {
    background-color: $primary-color;
    height: 200px;
  }

  &_navigation {
    align-self: center;
    background-color: transparent;
    //height: 417px;
    width: 670px;
    border-radius: 20px;
    margin-top: -175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    swiper {
      width: 670px;

      image {
        border-radius: 20px;
      }
    }

    &-bar {
      width: 100%;
    }
  }
}

.card-header.radiusTop {
  .card-header_navigation {
    image {
      border-radius: 20px 20px 0px 0px;
    }
  }
}

.navigation-bar {
  padding: 19px 5px;
  background-color: $white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 15px 10px 1px rgba(40, 170, 255, 0.1);

  &-item {
    display: flex;
    flex: 1;

    .navigation-box {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-img {
        image {
          width: 44px;
        }
      }

      &-txt {
        margin-top: -3px;
        color: $text-color-light;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
      }
    }

    &-break {
      width: 3px;
      height: 40px;
      background: rgba(235, 238, 242, 1);
      border-radius: 1px;
      display: flex;
      align-self: center;
    }
  }
}

.home-promo-box {
  box-sizing: border-box;
  width: 210px;
  height: 150px;
  padding: 12px 20px;

  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #0066b3;
  box-shadow: 0px 10px 19px 1px rgba(0, 102, 179, 0.3);

  &-txt-en {
    font-family: $b181black;
    color: $white;
    font-size: 24px;
  }

  &-txt {
    color: $white;
    font-size: 20px;
  }

  &-img {
    flex: 1;
    align-self: flex-end;
    padding-top: 8px;

    image {
      width: 52px;
      height: 52px;
    }
  }
}

.home-promo-box.light {
  background-color: #0095da;
  box-shadow: 0px 10px 19px 1px rgba(0, 149, 218, 0.3);
}

.home-promo-box.lighter {
  background-color: #36bbdb;
  box-shadow: 0px 10px 19px 1px rgba(54, 187, 219, 0.3);
}

.section-bar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;

  &-title {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-txt-en {
      font-family: $b181black;
      font-size: 30px;
    }

    &-txt {
      font-size: 28px;
      font-weight: 400;
    }

    &-second {
      font-size: 28px;
      font-weight: 500;
      margin-top: 10px;
    }
  }

  &-action {
    display: flex;
    font-family: $b181black;
    color: #56585c;
    font-size: 24px;
    align-self: flex-end;

    image {
      width: 14px;
      height: 14px;
      margin-left: 6px;
      align-self: center;
    }
  }
}

.navigation-line-item {
  margin-top: 20px;
  height: 140px;
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 6px 13px 1px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  &-preicon {
    height: 100%;
    width: 10px;
    background-color: $primary-color;
    border-radius: 5px;
  }

  &-content {
    margin-left: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    box-sizing: border-box;

    &-brief {
      font-family: $b181black;
      font-size: 30px;
    }

    &-title {
      font-size: 26px;
    }
  }

  &-image {
    width: 80px;
    height: 80px;
    padding: 0px 20px;
  }
}

.two-column-user-card {
  width: 320px;
  height: 280px;
  padding: 26px;
}

.user-card {
  //width: 320px;
  //height: 280px;
  //
  background-color: $white;
  @extend %flex-column;
  align-items: center;
  justify-content: flex-start;
  padding: 26px 0;
  border-radius: 20px;
  //box-shadow:0px 6px 13px 1px rgba(0, 0, 0, 0.08);

  &-content {
    font-size: 28px;
    @extend %flex-row;
    align-items: center;
    margin-top: 20px;

    &-role {
      @extend %flex-1;
      align-items: flex-end;
      @include text-ellipsis;
    }

    &-name {
      @extend %flex-1;
      @include text-ellipsis;
    }

    &-split {
      width: 3.5px;
      margin: 0 15px;
      height: 0.7rem;
      align-self: center;
      background-color: $black;
    }
  }

  &-company {
    font-size: 24px;
    color: #858688;
    margin: 5px 0;
  }

  &-phone {
    font-size: 24px;
    color: #858688;
  }
}
