@import '../../styles/theme';

.user-card {
  //width: 320px;
  //height: 280px;
  //
  background-color: $white;
  @extend %flex-column;
  align-items: center;
  justify-content: flex-start;
  padding: 26px 0;
  border-radius: 20px;
  //box-shadow:0px 6px 13px 1px rgba(0, 0, 0, 0.08);

  &-content {
    font-size: 28px;
    @extend %flex-row;
    align-items: center;
    margin-top: 20px;

    &-role {
      @extend %flex-1;
      align-items: flex-end;
      @include text-ellipsis;
    }

    &-name {
      @extend %flex-1;
      @include text-ellipsis;
    }

    &-split {
      width: 3.5px;
      margin: 0 15px;
      height: 0.7rem;
      align-self: center;
      background-color: $black;
    }
  }

  &-company {
    font-size: 24px;
    color: #858688;
    margin: 5px 0;
  }

  &-phone {
    font-size: 24px;
    color: #858688;
  }
}
