@import '~antd/es/style/themes/default.less';

.objectLink {
  width: 100%;
  color: @primary-color;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: #f38709;
    text-align: center;
    cursor: pointer;
  }
}

.objectPicker {
  :global(.pro-field) {
    margin-bottom: 0;
  }
}

.linkTarget {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: -28px;
}
