@import 'src/styles/theme';

.filter-tabs {
  @extend %flex;
  flex-wrap: wrap;
  align-items: center;

  text-align: center;
  padding: 0 20px;
  font-size: 30px;
  color: #666;

  &-item {
    padding: 20px 5px;
    flex: 1;
    @include text-ellipsis;
  }

  .pin-first {
    &:first-child {
      flex: 0 0 100px;
    }
  }

  &-item--selected {
    position: relative;
    font-weight: 800;
    color: #333;

    &:after {
      position: absolute;
      content: '';
      left: 10px;
      right: 10px;
      bottom: 8px;
      height: 10px;
      background: linear-gradient(120deg, $orange-color, $red-color);
      box-shadow: 0 0 12px $red-color;
      //background: linear-gradient(135deg, $color-brand-light, $color-brand-dark);
      //box-shadow: 0 0 12px $color-brand-dark;
      border-radius: 10px;
    }
  }

  &-icon {
    padding: 5px;
  }
}

.filter-tabs--bordered {
  padding-bottom: 20px;
  @include hairline-bottom($under-line-color);
}

.filter-draw {
  @extend %flex-column;
  text-align: center;
  height: 100%;
  color: $text-color;
  padding-top: 20px;

  &-body {
    @extend %flex-1;
    flex-direction: column;
    overflow: auto;
  }

  &-group {
    padding-bottom: 20px;

    &-title {
      font-size: 30px;
      font-weight: 500;
      margin: 20px 20px 10px;
      text-align: left;
    }

    &-content {
      @extend %flex;
      flex-wrap: wrap;
      align-items: center;

      &-item {
        flex: 0 0 25%;
        font-size: 24px;
        overflow: hidden;

        &-txt {
          border-radius: 100px;
          background: $white;
          line-height: 60px;
          margin: 8px 14px;
          padding: 0 10px;
          @include text-ellipsis;
          //box-sizing: border-box;
          border: 1px solid $white; // border-box没有生效
        }
      }

      &-item--selected &-item-txt {
        color: $red-color;
        border: 1px solid $red-color;
      }
    }
  }

  &-footer {
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, $orange-color, $red-color);
    line-height: 70px;
    font-size: 30px;
  }
}

.facet-condition {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  color: $text-color-light;
  font-size: 24px;
  margin-top: 20px;
  padding: 0 20px;

  &-container {
    @extend %flex-row;
  }

  &-item {
    position: relative;
    padding: 10px 30px;
    border-radius: 10px;
    margin-right: 15px;
    border: 1px solid $orange-color;

    &-txt {
      @include text-ellipsis;
      max-width: 4em;
      color: $orange-color;
      height: 36px;
    }
  }

  &-clear {
    font-size: 20px;
    color: $text-color;
    font-weight: 500;
    padding-left: 10px;
    width: 100px;
  }
}
