@import 'src/styles/theme';

.ele-action-list {
  @extend %flex-row;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  &-item {
    @extend %flex-center;
    flex-direction: row;
  }

  .at-button {
    @extend %flex-center;
    flex-direction: row;
    border: none;
    font-size: 34px;
    height: 2.6rem;
    width: 100%;
    border-radius: 20px;
    min-width: 4rem;
  }
}

.ele-action-list.small {
  .at-button {
    height: 1.8rem;
    font-size: 26px;
    border-radius: 1rem;
  }

  .ele-action-list-item {
    width: fit-content;
  }
}

.ele-action-list.right {
  justify-content: flex-end;

  .ele-action-list-item {
    margin-left: 10px;
  }
}

.ele-action-list.left {
  justify-content: flex-start;

  .ele-action-list-item {
    margin-right: 10px;
  }
}

.ele-action-list.full {
  @extend %flex-center;
  flex-direction: column;

  .ele-action-list-item {
    margin-top: 20px;
    width: 100%;
  }

  .ele-action-list-btn {
    width: 100%;
    margin: 0 40px;
  }

  .at-button {
    border-radius: 10px;
    color: $white;
  }
}

.ele-action-list.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 40px;
  width: 100%;

  .ele-action-list-btn {
    margin: 0 40px;
  }
}
