@import 'src/styles/theme';

.ele-action-list {
  @extend %flex-row;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  &-item {
    @extend %flex-center;
    flex-direction: row;
    width: 100%;
  }
  .ele-action-list-btn {
    width: 100%;
  }

  .at-button {
    @extend %flex-center;
    flex-direction: row;
    border: none;
    font-size: 34px;
    height: 2.6rem;
    width: 100%;
    border-radius: 20px;
    min-width: 4rem;
  }
}

.ele-action-list--h5 {
  .at-button {
    height: 1.3rem !important;
  }
}

.ele-action-list--small {
  .at-button {
    height: 1.8rem;
    font-size: 26px;
    border-radius: 1rem;
  }

  .iconfont {
    font-size: 40px;
  }

  .ele-action-list-item {
    width: fit-content;
  }
}

.ele-action-list--right {
  justify-content: flex-end;

  .ele-action-list-item {
    margin-left: 10px;
  }
}

.ele-action-list--left {
  justify-content: flex-start;

  .ele-action-list-item {
    margin-right: 10px;
  }
}

.ele-action-list--full {
  @extend %flex-center;
  flex-direction: column;

  .ele-action-list-item {
    padding: 20px 40px 10px 40px;
  }

  .ele-button {
    width: 100%;
  }

  .at-button {
    border-radius: 10px;
    color: $white;
  }

  .at-button--secondary {
    border: $border-default;
    color: $primary-color;
  }
}

.ele-action-list--footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 40px;
  width: 100%;
}

.ele-action-list--footer-bar {
  @extend %flex-row;
  align-items: center;
  background-color: $white;

  @include hairline-top($under-line-color);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .at-button {
    width: 100%;
    height: 100px;
    border-radius: 0;
  }

  .ele-action-list-item {
    width: 100%;
    @include hairline-right($under-line-color);
  }
}
