@import 'src/styles/theme';

.action-floor {
  @extend %flex-column;

  &-item-container {
    display: block;
    width: 100%;
  }

  &-first {
    @extend %flex-row;
    height: 350px;
    width: 100%;

    &-left {
      @extend %flex-1;
    }

    &-right {
      @extend %flex-1;
      margin-left: 8px;
      flex-direction: column;
      justify-content: space-between;

      &-top {
        @extend %flex-1;
        margin-bottom: 4px;
        border-radius: 10px;
      }

      &-bottom {
        @extend %flex-1;
        margin-top: 4px;
        border-radius: 10px;
      }
    }
  }

  &-second {
    @extend %flex-row;
    margin-top: 10px;
    height: 150px;
    width: 100%;

    &-left {
      @extend %flex-1;
      flex: 2;
    }

    &-right {
      @extend %flex-1;
      margin-left: 8px;
    }
  }
}

.action-floor-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;

  &-title {
    @extend %flex-center;
    background-color: #ede5e2;
    border-radius: 10px;
    font-size: 35px;
    color: $text-color;
    height: 100%;
  }

  &-brief {
    font-size: 30px;
    height: 0;
    border-top: 20px solid #b18a4c;
    border-bottom: 20px solid #b18a4c;
    border-left: 20px solid transparent;
    position: absolute;
    top: 0;
    right: 0;

    &-txt {
      color: $white;
      margin-top: -20px;
      padding: 0 10px;
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.action-floor-item.blue {
  .action-floor-item-title {
    background-color: #dfe7eb;
  }

  .action-floor-item-brief {
    border-top-color: #7ba7d1;
    border-bottom-color: #7ba7d1;
  }
}

.navigation-line-item {
  margin-top: 20px;
  height: 100px;
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  //box-shadow: 0 6px 13px 1px rgba(0, 0, 0, 0.08);
  @extend %flex-row;

  &-preicon {
    height: 100%;
    width: 10px;
    background-color: $primary-color;
    border-radius: 5px;
  }

  &-tailicon {
    height: 100%;
    @extend %flex-center;
  }

  &-content {
    margin-left: 46px;
    @extend %flex-1;
    flex-direction: column;
    justify-content: center;

    &-brief {
      font-family: $b181black;
      font-size: 30px;
    }

    &-title {
      font-size: 22px;
    }
  }
}

.navigation-box {
  @extend %flex-column;
  padding: 19px 5px;
  background-color: $white;
  box-shadow: 0 15px 10px 1px $shadow-color;

  &-title {
    font-weight: 500;
    size: 34px;
    padding: 10px 30px 30px 30px;
  }

  &-actions {
    @extend %flex-row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  &-item {
    width: 140px;
    height: 120px;
    @extend %flex-center;

    &-box {
      @extend %flex-center;
      flex: 1;
      flex-direction: column;
    }

    &-image {
      width: 50px;
      height: 50px;
    }

    &-title {
      color: $text-color-light;
      font-weight: 400;
      line-height: 36px;
      margin-top: 10px;
      font-size: 26px;
    }

    &:after {
      content: ' ';
      width: 3px;
      height: 40px;
      background: $silver-grey-color;
      border-radius: 1px;
      display: flex;
      align-self: center;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.navigation-box.round-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.navigation-box.round-bottom {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.navigation-box-center {
  .navigation-box-actions {
    justify-content: space-around;
  }

  .navigation-box-item {
    flex: 1;
  }
}

.action-icon {
  min-width: 44px;
  min-height: 44px;
}
