@import 'src/styles/theme';

.card-info-table {
  color: $text-color-lighter;

  &-label {
    width: 5rem;
    flex: unset !important;
  }

  &-label--width2 {
    width: 3rem !important;
  }

  &-label--width3 {
    width: 4rem !important;
  }

  &-label--width4 {
    width: 5rem !important;
  }

  &-label--width5 {
    width: 6rem !important;
  }
}
