@import '../styles/theme';

.listof-page {
  background-color: $color-page-bg;
  height: 100vh;
}

.listof-footer-tips {
  color: $text-color-lighter;
  z-index: 9999;
  @extend %flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;

  &-line {
    @extend %flex-1;
    height: 2px;
    background-color: $text-color-lighter;
  }

  &-content {
    padding: 0 30px;
    font-size: 30px;
    @extend %flex-row;
    justify-content: space-around;
    align-items: center;

    &-loading {
      padding-right: 20px;
    }
  }
}

.listof-empty-message {
  height: 400px;
  @extend %flex-center;
  color: $text-color-light;
}

.scroll-view-horizontal {
  white-space: nowrap;
}

.list-of-container {
  @extend %flex-column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;

  &-item {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;

    &-wrapper {
      width: 100%;
    }
  }

  &-item.horizontal {
    display: inline-block;
    margin-right: 20px;
    width: unset;
  }
}

.list-of-container.multiple-items {
  flex-direction: row;
  justify-content: space-between;

  .list-of-container-item {
    flex: unset;
  }
}

.line-item-wrapper {
  position: relative;
  width: 100%;

  .item-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(244, 246, 248, 0.3);
  }
}

.no-border {
  border: unset;
  box-shadow: unset;
}

%template {
  background-color: $white;
  @extend %flex-column;
  justify-content: center;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 10px 19px 1px rgba(0, 0, 0, 0.08);

  .content {
    @extend %flex-column;
    flex: 1;

    &-title {
      box-sizing: border-box;
      font-size: 32px;
      font-weight: 500;
      margin: 10px;
      @include text-ellipsis;
      display: block;
    }

    &-brief {
      box-sizing: border-box;
      font-size: 25px;
      color: $text-color-lighter;
      margin-left: 20px;
      margin-bottom: 10px;
      @include text-ellipsis;
    }
  }
}

.auto {
  @extend %template;

  .image-list {
    @extend %flex-row;
    justify-content: space-between;
    width: 100%;

    &-item {
      width: 100%;

      &-image {
        height: 200px;
        width: 100%;
      }
    }
  }
}

.image-on-left {
  @extend %template;
  flex-direction: row;
  height: 240px;
  width: 100%;

  .content {
    margin-left: 20px;

    &-brief {
      @include lamp-clamp(3);
    }
  }
}

.image-on-bottom {
  @extend %template;
  height: 520px;
}

.waterfall {
  @extend %template;
  padding: 0 0 10px 0;

  &-img {
    height: 330px;
    width: 100%;
  }
}

.waterfall.horizontal {
  width: 600px;
}

.product {
  @extend %template;
  padding: 0 0 10px 0;

  &-img {
    height: 220px;
    width: 100%;
  }

  .content {
    margin-left: 20px;

    &-title {
      margin-left: 0;
      @extend %flex-row;
      align-items: center;
      height: 64px;
      color: #232326;
      font-size: 26px;
      line-height: 32px;
      @include lamp-clamp(2);
    }

    &-brief {
      margin-left: 0;
      font-size: 32px;
      color: #f23030;
      @extend %flex-row;
      align-items: center;
    }
  }
}

.article {
  @extend %template;
  width: 100%;
  background-color: $white;
  padding: 10px;
  border-radius: 10px;

  .image-item {
    box-sizing: border-box;
    height: 350px;
    width: 100%;
  }

  .content {
    height: 100px;
    @extend %flex-1;
    padding: 16px 5px;

    &-title {
      margin: 0;
      font-weight: unset;
      font-size: 26px;
    }

    &-brief {
      margin: 5px 0;
      font-size: 22px;
      color: #74767a;
    }

    &-time {
      font-size: 22px;
      color: #74767a;
    }
  }
}

.article-small {
  width: 300px;

  .image-item {
    height: 159px;
  }
}

.space-between-container {
  justify-content: space-between;
  flex-direction: row;
}
