@import '../../../styles/theme';

$second-color: #5fbdfa;

.question-page {
  @extend %page;
  background-color: $primary-color;

  .question {
    margin-top: 50px;
    padding: 36px;
    line-height: 52px;
    font-weight: 500;
    color: $white;
    font-size: 50px;

    &-title {
      display: flex;
      flex-direction: row;

      &-number {
        padding: 0 20px;
      }
    }

    &-choices {
      padding-top: 50px;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-item {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 40px;
        margin: 40px 40px 0 40px;
        background-color: $white;
        color: darken($primary-color, 20%);
        border-radius: 40px;

        &-id {
          padding: 0 20px;
        }

      }

      .correct {
        background-color: #2cdfbd;
        font-weight: 600;
        color: $white;
      }

      .notCorrect {
        background-color: #fc7269;
        font-weight: 600;
        color: $white;
      }

      .hidden {
        opacity: .2;
      }

    }
  }

  .score-detail {
    color: $white;

    &-top {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 50px;

      &-avatar {
        image {
          margin-top: 20px;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 8px solid lighten($primary-color, 20%);
          box-shadow: 0px 0px 30px #fff;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;

        &-name {
          align-self: center;
          font-size: 40px;
        }

        &-brief {
          font-size: 22px;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: #5fbdfa;
      margin: 20px 40px;
      padding: 20px;
      color: $white;
      font-weight: 500;
      align-self: center;
      justify-content: center;

      &-title {
        font-size: 45px;
        text-align: center;
      }

      &-score {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        &-txt {
          background-color: $primary-color;
          font-size: 26px;
          padding: 5px 50px;
          border-radius: 20px;
          text-align: center;
        }
      }

      &-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 20px;
        background-color: $primary-color;
        min-height: 600px;
        border-radius: 10px;
        color: $white;
        font-weight: 600;

        &-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-top: 20px;
          box-sizing: border-box;
          border-bottom: 1px solid lighten($primary-color, 20%);;

          &-order {
            font-size: 35px;
            min-width: 60px;
          }

          &-avatar {
            padding: 5px 20px;

            image {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              border: 8px solid lighten($primary-color, 20%);
            }
          }

          &-name {
            display: flex;
            flex: 1
          }


          &-score {
            font-weight: 500;
            color: lighten($second-color, 20%)
          }
        }
      }
    }

    &-footer {
      padding: 40px 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &-item {
        .share-button {
          min-width:220px;
          //$btn-color: lighten($second-color, 10%);
          $btn-color: $second-color;
          background-color: $btn-color;
          border-color: $border-color;
          border-radius: 20px;
          font-weight: 600;
          color: $white;
          box-shadow: 10px 10px 20px $second-color;
        }
      }
    }
  }
}

