# fork from https://github.com/tarojsx/ui/blob/master/.npmrc

# run scripts with root privileges
# @see https://docs.npmjs.com/misc/scripts#user
unsafe-perm=true

# NPM Taobao registry
registry=https://registry.npmmirror.com

# Taobao node binary mirrors
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
disturl=https://npmmirror.com/dist
electron_mirror=https://npmmirror.com/mirrors/electron/
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
nodejs_org_mirror=https://npmmirror.com/mirrors/node
nvm_nodejs_org_mirror=https://npmmirror.com/mirrors/node
nvm_iojs_org_mirror=https://npmmirror.com/mirrors/iojs
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
profiler_binary_host_mirror=http://npm.taobao.org/mirrors/node-inspector/
puppeteer_download_host=https://npmmirror.com/mirrors
selenium_cdnurl=http://npm.taobao.org/mirrors/selenium
sass_binary_site=https://npmmirror.com/mirrors/node-sass
sqlite3_binary_site=http://npm.taobao.org/mirrors/sqlite3
