@import 'src/styles/theme';

.me-page {
  @extend %page;

  &-header {
    background-color: #fff;

    &-top {
      background-color: $primary-color;
      @extend %flex-row;
      align-items: center;
      border-bottom-left-radius: 50px;
      padding-bottom: 40px;

      &-avatar {
        padding: 40px;
        .avatar-image {
          margin-top: 20px;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 8px solid darken($primary-color, 10%);
          box-shadow: 0 0 20px #fff;
        }
      }

      &-title {
        color: $white;
        @extend %flex-column;
        justify-content: center;
        font-size: 30px;

        &-name {
          font-size: 38px;
        }

        &-brief {
          font-size: 24px;
        }
      }
    }

    &-footer {
      padding-top: 20px;
    }
  }

  &-body {
    padding: 30px;
  }
}
