@import '../styles/theme';

.navigation-bar {
  padding: 19px 5px;
  background-color: $white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 15px 10px 1px $shadow-color;

  &-item {
    display: flex;
    flex: 1;

    .navigation-box {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-img {
        width: 44px;
      }

      &-txt {
        margin-top: -3px;
        color: $text-color-light;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
      }
    }

    &-break {
      width: 3px;
      height: 40px;
      background: rgba(235, 238, 242, 1);
      border-radius: 1px;
      display: flex;
      align-self: center;
    }
  }
}
