@import 'src/styles/theme';

.section-bar {
  padding: 20px 0;
  @extend %flex-row;
  align-items: center;

  &-preicon {
    width: 8px;
    min-height: 1.2em;
    background-color: $primary-color;
    margin-right: 20px;
  }

  &-title {
    color: $text-color;
    font-size: 34px;
    font-weight: 700;
  }

  &-action {
    @extend %flex-row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    color: $text-color-light;
    height: 100%;
    text-align: center;

    &-title {
      font-size: 24px;
      font-weight: 500;
      text-align: right;
    }

    &-icon {
      margin-bottom: -3px;

      .iconfont {
        font-size: 36px;
      }
    }
  }
}

.section-bar.padding {
  padding: 0 20px;
}
