@import 'src/styles/theme';

.section-bar {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  color: $text-color;

  &-preicon {
    width: 10px;
    min-height: 0.8em;
    background-color: $primary-color;
    margin-right: 20px;
  }

  &-title {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-txt-en {
      font-family: $b181black;
      font-size: 26px;
    }

    &-txt {
      font-size: 32px;
      font-weight: 600;
    }

    &-second {
      font-size: 28px;
      font-weight: 500;
      margin-top: 10px;
    }
  }

  &-action {
    @extend %flex-row;
    align-items: center;

    &-txt {
      font-size: 24px;
      align-self: flex-end;
      font-family: $b181black;
      color: $text-color-light;
    }

    &-icon {
      margin-bottom: -2px;
    }
  }
}
