@import 'src/styles/theme';

.section-bar {
  padding: 20px 0;
  @extend %flex-row;
  align-items: center;

  &-preicon {
    width: 8px;
    min-height: 1.2em;
    background-color: $primary-color;
    margin-right: 20px;
  }

  &-title {
    color: $text-color;
    font-size: 32px;
    font-weight: 600;
  }

  &-action {
    @extend %flex-row;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    color: $text-color-light;
    height: 100%;

    &-title {
      font-size: 24px;
      font-weight: 500;
      font-family: $b181black;
    }

    &-icon {
      margin-bottom: -4px;
    }
  }
}

.section-bar.padding {
  padding: 0 20px;
}
