@import 'src/styles/theme';

.ele-button {
  .at-button__text {
    align-self: center;
  }
}

.ele-carousel {
  height: 400px;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  &-item {
    width: 100%;
    height: 100%;
    align-self: center;
  }
}

.submit-button {
  height: 80px;
  width: 450px;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 600;
  @extend %flex;
}

.ele-action-list {
  @extend %flex-row;
  justify-content: space-around;
  align-items: center;
  &-btn-wrapper {
    margin-left: 20px;
  }

  &-btn {
    @extend %flex-center;
    flex-direction: row;
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    padding: 0;
    height: 1.1rem;
    &-container {
      padding: 0 15px;
    }

    &-image {
      //margin-top: -25px;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
}

.ele-action-list.right {
  justify-content: flex-end;

  .ele-action-list-btn {
    margin-left: 20px;
  }
}
