@import 'src/styles/theme';

.ele-button {
  .at-button__text {
    align-self: center;
  }
}

.ele-carousel {
  &-item {
    width: 100%;
    height: 100%;
  }
}

.submit-button {
  height: 80px;
  width: 450px;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 600;
  @extend %flex;
}

.ele-card {
  @extend %flex-column;
  position: relative;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 10px 19px 1px rgba(0, 0, 0, 0.08);
  overflow: hidden;

  &-status-flag {
    width: 0;
    height: 0;
    border-top: 120px solid #d2ab66;
    border-left: 120px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
  }

  &-status-txt {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 30px;
    color: $white;
    font-weight: 600;
    @extend %flex;
    align-items: flex-end;
    height: 70px;
  }

  &-body {
    @extend %flex-row;
    padding: 20px;

    &-icon {
      @extend %flex-center;
      width: 200px;
      height: 215px;
      color: $text-color-light;
    }

    &-image {
      width: 215px;
      height: 215px;
    }

    &_content {
      @extend %flex-1;
      flex-direction: column;
      padding: 20px 35px 0 20px;

      &-title {
        font-size: 28px;
        font-weight: 600;
      }

      &-brief {
        @extend %flex-1;
        padding: 20px 0;

        &-txt {
          line-height: 30px;
          font-size: 26px;
          font-weight: 400;
          height: 90px;
          color: $text-color-light;
          @include lamp-clamp(3);
        }
      }

      &-time {
        font-size: 22px;
        color: #74767a;
      }
    }
  }

  &-footer {
    border-top: 2px solid #f3f5f7;
    padding-bottom: 20px;
  }
}

.ele-action-list {
  @extend %flex-row;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;

  &-btn {
    @extend %flex-center;
    flex-direction: row;
    font-size: 28px;
    font-weight: 600;
    min-width: 150px;

    &-image {
      //margin-top: -25px;
      width: 40px;
      height: 40px;
      padding-right: 10px;
    }
  }
}

.ele-action-list.right {
  justify-content: flex-end;

  .ele-action-list-btn {
    margin-left: 10px;
  }
}
