@import '../../styles/theme';

.navigation-line-item {
  margin-top: 20px;
  height: 120px;
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  //box-shadow: 0 6px 13px 1px rgba(0, 0, 0, 0.08);
  @extend %flex-row;

  &-preicon {
    height: 100%;
    width: 10px;
    background-color: $primary-color;
    border-radius: 5px;
  }

  &-content {
    margin-left: 46px;
    @extend %flex-1;
    flex-direction: column;
    justify-content: center;

    &-brief {
      font-family: $b181black;
      font-size: 30px;
    }

    &-title {
      font-size: 22px;
    }
  }

  &-image {
    width: 80px;
    height: 80px;
    padding: 0 20px;
  }
}

.action-floor {
  @extend %flex-column;

  &-item-container {
    display: block;
    width: 100%;
  }

  &-first {
    @extend %flex-row;
    height: 350px;
    width: 100%;

    &-left {
      @extend %flex-1;
    }

    &-right {
      @extend %flex-1;
      margin-left: 8px;
      flex-direction: column;
      justify-content: space-between;

      &-top {
        @extend %flex-1;
        margin-bottom: 4px;
        border-radius: 10px;
      }

      &-bottom {
        @extend %flex-1;
        margin-top: 4px;
        border-radius: 10px;
      }
    }
  }

  &-second {
    @extend %flex-row;
    margin-top: 10px;
    height: 150px;
    width: 100%;

    &-left {
      @extend %flex-1;
      flex: 2;
    }

    &-right {
      @extend %flex-1;
      margin-left: 8px;
    }
  }
}

.action-floor-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;

  &-title {
    @extend %flex-center;
    background-color: #ede5e2;
    border-radius: 10px;
    font-size: 35px;
    color: $text-color;
    height: 100%;
  }

  &-brief {
    height: 0;
    border-top: 20px solid #b18a4c;
    border-bottom: 20px solid #b18a4c;
    border-left: 20px solid transparent;
    position: absolute;
    top: 0;
    right: 0;

    &-txt {
      color: $white;
      margin-top: -20px;
      padding: 0 10px;
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.action-floor-item.blue {
  .action-floor-item-title {
    background-color: #dfe7eb;
  }

  .action-floor-item-brief {
    border-top-color: #7ba7d1;
    border-bottom-color: #7ba7d1;
  }
}

.txt-table {
  @extend %flex-column;
  font-size: 28px;
  background-color: transparent;
  color: $text-color-lighter;

  .info-row {
    @extend %flex-row;
    padding: 5px 10px;
    word-break: break-all;

    &-cell {
      @extend %flex-1;
      flex-direction: row;

      &-title {
        min-width: 60px;
      }

      &-value {
        @extend %flex-1;
        padding-left: 20px;
        color: $text-color-light;
      }

      &-2lines {
        @include lamp-clamp(2);
      }

      &-3lines {
        @include lamp-clamp(3);
      }

      &-4lines {
        @include lamp-clamp(4);
      }
    }
  }
}

.section-bar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;

  &-preicon {
    width: 10px;
    min-height: 1em;
    background-color: $primary-color;
    margin-right: 20px;
  }

  &-title {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-txt-en {
      font-family: $b181black;
      font-size: 26px;
    }

    &-txt {
      font-size: 32px;
      font-weight: 400;
    }

    &-second {
      font-size: 28px;
      font-weight: 500;
      margin-top: 10px;
    }
  }

  &-action {
    display: flex;
    font-family: $b181black;
    color: #56585c;
    font-size: 24px;
    align-self: flex-end;

    &-image {
      width: 14px;
      height: 14px;
      margin-left: 6px;
      align-self: center;
    }
  }
}
