@import '../../styles/theme';

.form-page {
  @extend %page;
  .at-input {
    margin-left: 0;
  }
}

.submit-button {
  margin-top: 100px;
  height: 102px;
  width: 450px;
  border-radius: 20px;

  font-size: 28px;
  font-weight: 600;
}

.tips {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  font-size: 26px;
  margin-top: 40px;
}
