@import '../../styles/theme';

%ele-ele {
  background-color: $white;
  padding: 30px;
  border-bottom: 1px solid $border-color;
}

.label-text {
  color: $text-color-lighter;
  font-size: 30px;
  padding-right: 20px;
}

.ele-input {
  @extend %ele-ele;
  @extend %flex;
  height: 100px;
  align-self: center;
  //border-radius: 10px;

  .at-input__title {
    @extend .label-text;
  }

  .at-input__container {
    box-sizing: border-box;
    //padding-left: 20px;
    min-width: 170px;
    width: 100%;
  }
}

.ele-textarea {
  @extend %ele-ele;

  &-container {
    margin-top: 20px;
  }
}

.ele-radio {
  @extend %ele-ele;

  .radio-group {
    margin-top: 30px;
  }
}

.ele-switch {
  @extend %ele-ele;
  @extend %flex-row;
  justify-content: space-between;
}

.ele-checkbox {
  @extend %ele-ele;

  .checkbox-group {
    margin-top: 30px;
    //.at-checkbox__option--selected .at-checkbox__icon-cnt {
    //  background-color: green !important;
    //}
  }
}

.ele-picker {
  @extend %ele-ele;
  @extend %flex-row;
  //margin-top: 20px;
  flex: 1;

  font-size: 35px;
  line-height: 1.5;
  vertical-align: middle;

  &-left {
    @extend %flex-1;
    //padding-left: 20px;
  }

  &-right {
    @extend %flex-1;
    justify-content: flex-end;
    font-size: 30px;
    color: $text-color-lighter;

    &-value {
      color: $text-color;
    }

    at-icon {
      margin-left: 10px;
    }
  }
}

.ele-image-picker {
  @extend %ele-ele;

  .note {
    margin-left: 20px;
  }

  &-icon {
    margin-top: 10px;
  }
}

.ele-vcode {
  @extend .ele-input;

  &-txt {
    font-size: 28px !important;
    width: 150px !important;
  }

  &-txt-disabled {
    color: $disabled-color !important;
  }
}
